<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a href="/" th:href="@{/}" ><img style="height:30px; width:30px" src="https://img-premium.flaticon.com/png/512/553/553376.png?token=exp=1621257384~hmac=b37a3c6d83e96c99917cc2063b43223a" /></a> &nbsp
        </ul>
        <form form-method="post" th:action="@{/logout}" class="form-inline my-2 my-lg-0">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </div>
</nav>
<div style="text-align: center;">
    <form form-method="get" th:action="@{/swagger-ui.html}" target="_blank">
        <button type="submit" class="btn btn-success">Swagger UI</button>
    </form><br>
    <button class="btn btn-dark" data-toggle="collapse" data-target="#api-key">Show api key</button>
    <div id="api-key" class="collapse">
        <p th:text="'API_KEY:  ' + ${api_key}"></p>
    </div>
</div>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4" ></br>
        <h5><u>Available endpoints:</u></h5><br>
        <ul>
            <li>/api/cars/{id}</li>
            <li>/api/cars/mark</li>
            <li>/api/cars/model</li>
            <li>/api/cars/year-of-production</li>
            <li>/api/cars/type</li>
            <li>/api/cars/engine-power</li>
            <li>/api/cars/engine-capacity</li>
            <li>/api/cars/gearbox</li>
            <li>/api/cars/fuel-type</li>
            <li>/api/cars/{id}/{value}</li>
        </ul>
        <p> * Everything about required params for testing or get data are present in Swagger UI.</p>
    </div>
    <div class="col-4"></div>
</div>
</body>
</html>