<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car API application</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
      <h5>Simple factory authorization api car application</h5>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a th:href="@{/signIn}" class="btn btn-dark d-inline" sec:authorize="isAnonymous()">Sign in</a>&nbsp
      <a th:href="@{/signUp}" class="btn btn-dark d-inline" sec:authorize="isAnonymous()">Sign up</a>
      <a th:href="@{/home}" class="btn btn-dark d-inline" sec:authorize="isAuthenticated()">Home</a>
    </form>
  </div>
</nav>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6" ></br>
    <div style="text-align: center; margin: 30px;">
        Application contains data about fifty cars and delivers eleven endpoints including one available to non-registered users,
        the rest require an account and confirmation via email.
        A registered user has the ability to precisely download data from api and use tools such as Swagger UI.</p>
    </div>

    <div style="margin: 20px;">
      <b>GET /api/cars</b> <br>
      example for localhost: <i>http://localhost:8080/api/cars</i> <br><br/>
      <h6>Endpoint allowed without registration:</h6>
      <ul>
        <li><a href="http://localhost:8080/api/cars/all" target="_blank">api/cars/all</a> - return all cars</li>
      </ul>
    </div>

    <div style="margin: 20px;">
      <h6>Application has one existing static active user:</h6>
      <p>userEmail: <i>user@user.com</i> <br>
      password: <i>user</i></p>
    </div>

    <div style="margin: 20px;">
      <b>Example response:</b><br>
      { <br>
      &nbsp "id": 1, <br>
      &nbsp "mark": "fiat", <br>
      &nbsp "model": "bravo", <br>
      &nbsp "yearOfProduction": 2011, <br>
      &nbsp "type": "HATCHBACK", <br>
      &nbsp "enginePower": 105, <br>
      &nbsp "engineCapacity": 1.6, <br>
      &nbsp "gearbox": "MANUAL", <br>
      &nbsp "fuelType": "DIESEL" <br>
      } <br>
    </div>
  </div>
  <div class="col-3"></div>
</div>
</body>
</html>